<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hlvy.mybatis_plus.com.mybatis_plus.mapper.UserMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hlvy.mybatis_plus.com.mybatis_plus.entity.User">
        <id column="id" property="id" />
    <result column="email" property="email" />
    <result column="password" property="password" />
    <result column="mobile_phone" property="mobilePhone" />
    <result column="type" property="type" />
    <result column="create_time" property="createTime" />
    <result column="user_role" property="userRole" />
    <result column="update_time" property="updateTime" />
    <result column="is_deleted" property="isDeleted" />
    <result column="department" property="department" />
    <result column="name" property="name" />
    <result column="position" property="position" />
    </resultMap>
    <resultMap id="BaseResultVoMap" type="com.suaee.com.mybatis_plus.vo.UserVo" extends="BaseResultMap">

    </resultMap>
    <select id="selectUserVoPage" resultMap="BaseResultVoMap">
        select <include refid="Base_Column_List"/> from tb_user
    </select>

</mapper>
